@font-face {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 100 900;
    src: url(static/Jost.ttf);
}

html, body {
    display: flex;
    flex-direction: row;
    background: #222;
    color: #EEE;
    overflow: hidden;
    font-size: 20px;
    font-family: 'Jost';
}

.panel {
    height: 100vh;
    margin: 0;
}

#left-panel {
    padding: 1vw;
    width: 45vw; 
}

#center-panel {
    text-align: center;
    width: 20vw;
}

#right-panel {
    width: 35vw;
}

#team-number {
    margin-top: 1rem;
    margin-bottom: 0.5rem              ;
}

#battery {
    height: 2rem;
    width: auto;
}

.voltage {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.voltage > h3 {
    margin: 0;
}

.indicator {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0.25rem 0;
}

.indicator > p {
    margin: 0rem 0.5rem;
}

.indicator-light {
    margin-top: auto;
    margin-bottom: auto;
    height: 1rem;
    width: 2rem;
    border-radius: 0.25rem;
}

.indicator-off {
    background-color: #D00;
}

.indicator-on {
    background-color: #0E0;
}

.modes {
    list-style-type: none;
    background-color: #666;
    width: 20vw;
    padding: 0;
    border-radius: 0.25rem;
    overflow: hidden;
    border: #333 solid 1px;
}

.seperator {
    display: block;
    width: 80%;
    height: 2px;
    margin: 1rem auto;
    background-color: #555;
}

.mode-selector {
    padding: 0.1rem 0.5rem;
    border: #333 solid 1px;
}

.selected {
    background-color: #444 !important;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 20vw;
}

.big-button {
    margin: 0;
    border-radius: 0;
    width: 50%;
    height: 5rem;
    background-color: #666;
    border: #333 solid 1px;
    font-weight: 700;
    font-size: 1.25rem;
}

.enable {
    color: #060;
    border-radius: 0.5rem 0 0 0.5rem;
}
 
.enable.selected {
    color: #0C0;
}

.disable {
    color: #800;
    border-radius: 0 0.5rem 0.5rem 0;
}

.disable.selected {
    color: #C00;
}
